
.DS_Store
WeatherApp.xcodeproj/project.xcworkspace/xcuserdata/patricia.xcuserdatad/UserInterfaceState.xcuserstate
WeatherApp.xcodeproj/project.xcworkspace/xcuserdata/patricia.xcuserdatad/UserInterfaceState.xcuserstate
WeatherApp.xcodeproj/project.xcworkspace/xcuserdata/patricia.xcuserdatad/UserInterfaceState.xcuserstate
*.xcuserstate
