
.DS_Store
WeatherApp.xcodeproj/project.xcworkspace/xcuserdata/patricia.xcuserdatad/UserInterfaceState.xcuserstate
WeatherApp.xcodeproj/project.xcworkspace/xcuserdata/patricia.xcuserdatad/UserInterfaceState.xcuserstate
WeatherApp.xcodeproj/project.xcworkspace/xcuserdata/patricia.xcuserdatad/UserInterfaceState.xcuserstate
WeatherApp.xcodeproj/xcuserdata/patricia.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
*.xcuserstate
*.xcuserstate
WeatherApp.xcodeproj/xcuserdata/patricia.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
